@use '../styles/variables' as *;
@use '../styles/mixins' as *;

section.mainframe {
  .mf-content {
    @include tile(true);
    background-color: #000;
    color: #fff;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @include respond(md) {
        grid-template-columns: 1fr 1fr;
    }
    @include respond(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
}