@use './variables' as *;
@use './mixins' as *;

.profile-body {
    .struct {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;

        // & > div {
        //     @include tile(true);
        // }

        @include respond(md) {
            grid-template-columns: 3fr 1fr;
        }

    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        @include respond(md) {
            align-items: end;
        }
    }

    sup {
        position: relative;
        bottom: 0;
        font-size: 80%;
        line-height: 5px;
    }

    .heading {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;

        @include respond(md) {
            grid-template-columns: 1fr 2fr;
        }

        .photo {
            @include tile(false);
            background-color: var(--accent);
            display: none;

            @include respond(md) {
                display: block;
                aspect-ratio: 1/1;
                border-right: #f4f4f4 2px dotted;
            }
        }
        .name {
            @include tile(true);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 2rem;

            h2, p {
                margin: 0;
            }

            h2 {
                color: #fff;
                padding: 5px 15px;
                font-size: 2.5rem;
                border-radius: 6px;
                background-color: var(--accent);

                small {
                    font-size: 50%;
                }

                &::after {
                    border-top: 10px solid var(--accent);
                    content: "";
                    position: absolute;
                    left: 13%;
                    bottom: -9px;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
            }

            p {
                span {
                    position: relative;
                    color: #000;
                    display: inline;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    background: #eee;
                    padding: 1px 0;
                }
            }
        }
    }

    .intro, .background {
        @include tile(true);
        background-color: #fff;
        width: 100%;

        h2 {
            font-size: 2rem;
            &::after {
                background-color: var(--light);
            }
        }

        @include respond(md) {
            width: 95%;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        p.footnote {
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    // .background {
    //     h2 {
    //         margin-bottom: 2rem;
    //     }
    // }

    .background .data {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include respond(md) {
            grid-template-columns: 1fr 1fr;
        }
        @include respond(lg) {
            grid-template-columns: 3fr 2fr 2fr;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        h3, p {
            margin: 0;
            padding: 0;
        }

        h3 {
            margin-top: 2rem;
            font-size: 1.5rem;
            font-weight: 800;
            text-transform: lowercase;

            span {
                color: var(--accent);
            }
        }

        hr.sub-divider {
            margin: 15px 0;
            border: none;
            border-top: var(--accent) 3px solid;
            width: 25px;
        }

        p {
            margin-bottom: 1rem;

            .legend {
                margin-top: 2rem;
            }
        }
        

        span.job-type {
            display: inline-block;
            border-radius: 2px;
            transform: translateY(-2px);
            color: #000;
            font-size: 12px;
            line-height: 12px;
            font-weight: 700;
            padding: 3px 5px;

            &.f {
                background-color: var(--accent);
                color: #fff;
            }
            &.p {
                background-color: var(--light);
                color: var(--deep);
            }
        }
    }

    .tag-cloud {
        @include tile(true);
        background-color: var(--light);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-weight: 200;
                font-size: 3rem;
                line-height: 2.8rem;
            }
        }
    }
}
.profile-irl {
    background-color: #212121;
    color: #eee;

    h3 {
        margin: 0;
        padding: 0;
        color: var(--light);
        font-size: 1.9rem;
    }

    .struct {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        &>div {
            @include tile(true);
        }

        @include respond(md) {
            grid-template-columns: 2fr 3fr;
        }
    }

    .photo-block {
        background-color: var(--accent);
        height: 400px;

        @include respond(md) {
            height: auto;
        }
    }

    .contents-block {
        background-color: #333;
    }

    .heading-row {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .tabs-list {
        margin-left: auto;
        background: #222;
        padding: 0.7em 1em;
        display: flex;
        gap: 1em;
        border-radius: 0.6em;
    }

    .tab-panel {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        // padding: 2rem;
        // background-color: white;
    }

    .tab-panel:not(.active) {
        display: none;
    }

    button[role="tab"] {
        background-color: transparent;
        display: flex;
        padding: 2px 5px;
        border-radius: 3px;

        img {
            width: 30px;
        }

        &[aria-selected="true"] {
            background-color: var(--light);
        }
    }

    p.notice {
        font-size: 0.8rem;
        background-color: #600;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
.profile-branding {
    .struct {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        &>div {
            @include tile(true);
        }

        @include respond(md) {
            grid-template-columns: 3fr 2fr;
        }
    }

    .brand-content {
        background-color: var(--deep);
    }

    h2, h3 {
        color: #fff;
    }
    h2::after {
        background-color: var(--accent);
    }
}