@use './variables' as *;
@use './mixins' as *;

body[data-section="field-notes"] {
    a {
        color: var(--deep);
    }

    .field-notes-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-bottom: 2rem;

        @include respond(md) {
            grid-template-columns: 1fr 1fr;
        }
        @include respond(lg) {
            grid-template-columns: repeat(6, 1fr);
            gap: 3rem;
            
            &>a.blog-item-link {
                grid-column: span 2;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(6),
                &:nth-child(7) {
                    grid-column: span 3;
                }
            }

        }

        &>a.blog-item-link {
            @include pictureBox;
            @include tile(false);
            min-height: 400px;
            position: relative;
            overflow: visible;

            &:hover {
                .note-body {
                    transform: translateY(-30px);
                }
            }
        }
        
        ul.category-list {
            list-style: none;
            gap: 0.5rem;
            display: flex;
            
            li {
                font-size: 0.7rem;
                text-transform: uppercase;
                background-color: var(--light);
                padding: 2px 10px;
                border-radius: 4px;
            }
        }

        .note-body {
            @include tile(true);
            background-color: #fff;
            width: 100%;
            position: absolute;
            bottom: -15px;
            left: -15px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;
            transition: transform 0.3s;

            h3 {
                margin: 0;
                padding: 0;
            }
            hr {
                border: none;
                border-top: var(--accent) 2px solid;
                width: 50px;
            }
            time {
                font-size: 0.8rem;
                font-weight: 500;
                color: #555;
            }            
        }
    }

    .field-notes .pagination {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .pagination-info {
            font-size: 0.8rem;
            background-color: #dadada;
            padding: 2px 10px;
            border-radius: 7px;
        }
        .pagination-controls,
        .pagination-numbers {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            justify-content: center;
        }
        span, a {
            font-size: 0.9rem;
            font-weight: 500;
            border-radius: 8px;
            display: flex;
            padding: 5px 13px;
            background-color: var(--light);
            text-decoration: none;

            &.pagination-number.current {
                background-color: var(--deep);
                color: #fff;
            }
            &.pagination-ellipsis {
                background-color: #eee;
            }
        }
    }
}