@use 'imports' as *;
@use 'themes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
    //height: 100vh;
    background-color: $default-bg-color;
    color: #212121;
    font-family: $global-font-family, sans-serif;
    //font-size: 16px;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: yellow;
}

svg {
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-weight: 700;
    margin: 0;
}

h1 {
  font-size: $size-3;
}
h2 {
  font-size: $size-3;
}
h3 {
  font-size: $size-2;
  //font-size: $size-1 * 1.25;
}

section, footer {
    padding: $size-1 0;

    @include respond(md) {
        padding: $size-2 0;
    }

    @include respond(lg) {
        padding: $size-3 0;
    }
}

.counter {
  color: inherit;
  font-family: 'Doto', sans-serif;
  font-size: 1.5rem;
  line-height: 1rem;

  @include respond(md) {
    font-size: 2rem;
    line-height: 1.5rem;
  }
}

/*.struct {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include respond(md) {
    max-width: 750px;
  }

  @include respond(lg) {
    max-width: 950px;
  }

  @include respond(xl) {
    max-width: 1500px;
  }
}*/
.struct {
  width: 100%;
  max-width: 1500px;
  width: clamp(320px, 95vw, 1500px);
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.struct-fullwidth {
  width: 100%;
}

.highlight {    
    @include textgradient($deg: 90deg, $color1: $swatch-2, $color2: $swatch-3);
}