@use './variables' as *;
@use './mixins' as *;

.project-intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include respond(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        @include tile(true);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 0 !important;
    }
    .content {
        @include tile(true);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;  

        &>* {
            max-width: 90%;
        }

        .type {
            background-color: var(--accent);
            color: #000;
            padding: 0.25rem 0.5rem;
            border-radius: 4px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
        h3 {
            margin: 0;
        }
        a {
            background-color: var(--accent);
            color: #000;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
        }
    }

}

.project-data {
    background-color: var(--deep);
    color: #fff;

    .struct {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
}

.project-info {
    .struct {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        max-width: 768px;
    }
    h3 {
        margin: 0;
        padding: 0;
    }
}