---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import HeadingCard from '../components/HeadingCard.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<GlobalLayout
	title="404 | the13thgeek&trade;" 
	path={Astro.url.pathname}>
	<SectionContainer>	
		<HeadingCard>
			<SectionHeading isStyled={false} headingType="h1" sectionNumber="404" sectionTitle="">
				Page not found
			</SectionHeading>
			<p class="subtitle">Oops! This is awkward.</p>
		</HeadingCard>
	</SectionContainer>
</GlobalLayout>