---
import GlobalLayout from '../layouts/GlobalLayout.astro';
---


<GlobalLayout
	title="About | the13thgeek&trade;" 
	section="profile"
	path={Astro.url.pathname}>
	<div class="struct">
		<h1>About?!</h1>
	</div>
</GlobalLayout>