---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import HeadingCard from '../components/HeadingCard.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<GlobalLayout
	title="Field Notes | the13thgeek&trade;" 
	section="field-notes"
	path={Astro.url.pathname}>
	<SectionContainer>	
		<HeadingCard>
			<SectionHeading isStyled={false} headingType="h1" sectionNumber="1" sectionTitle="">
				Field Notes
			</SectionHeading>
			<p class="subtitle">Writeups about stuff</p>
		</HeadingCard>
	</SectionContainer>
</GlobalLayout>