---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Card from '../components/Card';
import SectionHomeAbout from '../components/SectionHomeAbout.astro';
import SectionHero from '../components/SectionHero.astro';
import SectionHero2 from '../components/SectionHero2.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ProjectsGrid from '../components/ProjectsGrid.tsx';
import SectionHomeBlog from '../components/SectionHomeBlog.astro';
import SectionHomeGaming from '../components/SectionHomeGaming.astro';


---

<GlobalLayout 
	title="the13thgeek&trade;" 
	path="/" 
	description="Welcome to the personal website of the13thgeek, a developer and tech enthusiast."
	keywords="the13thgeek, astro, blog, developer, software engineer, tech">
	
    <SectionHero2 />

    <SectionContainer noTopMargin sectionTitle="Work" sectionNumber="2" className="test">
        <p>Hello</p>
			<!-- <ProjectsGrid /> -->
			<ProjectsGrid client:load />
    </SectionContainer>

	<SectionContainer noTopMargin className="blog">
		<SectionHomeBlog />
	</SectionContainer>

	<SectionContainer noTopMargin className="gaming">
		<SectionHomeGaming />
	</SectionContainer>

	<div class="struct">
		<h1>Astro?!</h1>
		<Card client:only="react" />
		<p>{Astro.site}</p>
	</div>
	
	
</GlobalLayout>

<!-- <style lang="scss">

/*
.bento {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: minmax(100px, auto);
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		background: #eee;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
	}
} */

</style> -->