---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Card from '../components/Card';
import HomeAbout from '../components/HomeAbout.astro';
import HomeHero from '../components/HomeHero.astro';
---

<GlobalLayout 
	title="the13thgeek&trade;" 
	path="/" 
	description="Welcome to the personal website of the13thgeek, a developer and tech enthusiast."
	keywords="the13thgeek, astro, blog, developer, software engineer, tech">
	<HomeHero />
	<!-- <HomeAbout /> -->
	
	<div class="struct">
		<h1>Astro?!</h1>
		<Card client:only="react" />
		<p>{Astro.site}</p>
	</div>
	
	
</GlobalLayout>