---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import HeadingCard from '../components/HeadingCard.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<GlobalLayout
	title="Projects | the13thgeek&trade;" 
	section="projects"
	path={Astro.url.pathname}>
	<SectionContainer>	
		<HeadingCard>
			<SectionHeading isStyled={false} headingType="h1" sectionNumber="1" sectionTitle="">
				Projects
			</SectionHeading>
			<p class="subtitle">Cool stuff I've worked/working on</p>
		</HeadingCard>
	</SectionContainer>
</GlobalLayout>