---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import HeadingCard from '../components/HeadingCard.astro';
import SectionHeading from '../components/SectionHeading.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<GlobalLayout
	title="Twitch | the13thgeek&trade;" 
	section="twitch"
	path={Astro.url.pathname}>
	<SectionContainer>	
		<HeadingCard>
			<SectionHeading isStyled={false} headingType="h1" sectionNumber={1}>
				Twitch
			</SectionHeading>
			<p class="subtitle">Live. Chill. Game. Repeat.</p>
		</HeadingCard>
	</SectionContainer>
</GlobalLayout>