---
import './ProjectsGrid.scss';

export interface ProjectStackItem {
  name: string;
  icon: string;
}

export interface ProjectItem {
  id: string;
  title: string;
  description: string;
  type: string;
  url: string | null; 
  gridClass: GridClass;
  stack: ProjectStackItem[];
  notes?: string;
}

import ProjectsList from '../data/projects.json';
const projlist: ProjectItem[] = ProjectsList as ProjectItem[];

type GridClass = 
  | 'featured-item' 
  | 'wide-item' 
  | 'tall-item' 
  | 'regular-1' 
  | 'regular-2' 
  | 'small-item';


---

<ul class="projects">
  {projlist.map((project) => (
    <li class={`project-item ${project.type} ${project.id}`}>
      <h3>{project.title}</h3>
    </li>
  ))}  
</ul>