@use "../styles/variables" as *;
@use "../styles/mixins" as *;

a.field-note-card {
	@include pictureBox;
	@include tile(false);
	min-height: 400px;
	position: relative;
	overflow: visible;
  text-decoration: none;

  &:not([style*="background-image"]) {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  @include respond(md) {
    min-height: 500px;

    &:hover {
      .note-body {
        transform: translateY(-30px);
      }
    }
  }

	ul.category-list {
		list-style: none;
		gap: 0.5rem;
		display: flex;

		li {
			font-size: 0.7rem;
			text-transform: uppercase;
			background-color: var(--light);
			padding: 2px 10px;
			border-radius: 4px;
		}
	}

	.note-body {
		@include tile(true);
		background-color: #fff;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.5rem;
		transition: transform 0.3s;

		h3 {
			margin: 0;
			padding: 0;
		}
		hr {
			border: none;
			border-top: var(--accent) 2px solid;
			width: 50px;
		}
		time {
			font-size: 0.8rem;
			font-weight: 500;
			color: #555;
		}

    @include respond(md) {
      bottom: -15px;
		  left: -15px;
      max-width: 80%;
    }
	}
}
