footer.global {
    display: flex;
    border-top: #eee 2px solid;
    background-color: #fff;;
    flex-direction: column;
    align-items: center;

    .struct {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    p {
        color: #666;

        b {
            color: #bbb;
        }
    }

    .footer-logo {
        filter: saturate(0%);
        opacity: 0.4;
        width: 150px;
    }

}