---
import './HomeHero.scss';
---

<section class="hero" id="hero">
    <div class="struct">
        <div class="intro">
            <div class="descriptor home-1-intro">
                <span class="title">Intro</span>
            </div>
            <h1>Hello,<br />I'm <span class="prog-tag">&#123;</span><span class="highlight">Aldreich</span><span class="prog-tag">&#125;</span>.</h1>
            <p>I'm a web experience creator,<br />
            also known as <span class="highlight">@the13thgeek</span>!</p>
            <div class="call-to-action">
                <a href="/about" class="cta-link">About Me <i class="fa-solid fa-chevron-right"></i></a>
                <a class="cta-link" href='#connect'>Connect <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
        
    </div>
</section>