---
import Icon from './Icon.astro';
import './Navbar.scss';

const { pathname } = Astro.url;
---

<header class="main">
    <div class="struct">
        <button id="menu-open" aria-label="Open menu">
          <Icon id="menu" width="30" height="30" />
        </button>
        <a class="link-logo" href="/">
            <!-- <img src="https://placehold.co/130x50" class="logo" alt="the13thgeek logo"> -->
             <img src="/assets/global/header-logo-default.png" width="130" class="logo" alt="the13thgeek logo">
        </a>
        <nav class="main-nav">
            <ul>
                <li class="menu-close-button">
                    <button id="menu-close" aria-label="Close menu">
                    <Icon id="close" width="30" height="30" />
                    </button>
                </li>
                
                <li><a class={pathname === '/' ? 'active' : ''} href="/">Home</a></li>
                <li><a href="/#wip">W.I.P.</a></li>
                <li><a href="/#projects">Projects</a></li>
                <li><a class={pathname === '/field-notes' ? 'active' : ''} href="/field-notes">Blog</a></li>
                <li><a class={pathname === '/about' ? 'active' : ''} href="/about">About</a></li>
                <li><a class={pathname === '/twitch' ? 'active' : ''} href="/twitch">Twitch</a></li>
            </ul>
        </nav>
        <!-- <a class="link-connect" href="/#connect">Connect</a> -->
    </div>
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggleOn = document.querySelector("#menu-open");
    const menuToggleOff = document.querySelector("#menu-close");
    const nav = document.querySelector("nav.main-nav");

    menuToggleOn?.addEventListener("click", () => {
      nav.classList.add("open");
    });
    menuToggleOff?.addEventListener("click", () => {
      nav.classList.remove("open");
    });
  });
</script>