---
import './ProjectsList.scss';
import projects from "../data/projects.json";
const featuredProjects = projects.filter((project) => project.isFeatured);

// interface ProjectStackItem {
//   name: string;
//   icon: string;
// }

// interface ProjectItem {
//   id: string;
//   title: string;
//   description: string;
//   type: string;
//   url: string | null;
//   img: string | null;
//   gridClass: string;
//   stack: ProjectStackItem[];
//   notes?: string;
// }
---

<ul class="work-list">
    {featuredProjects   .map((project) => (
        <li class={`work-item `+project.id}>
            <a href={`/projects/`+project.id}>
                <img src={`/assets/home/${project.img}`} class="thumbnail" />
                <div class="contents">
                    <h3>{project.title}</h3>
                    <p>{project.description}</p>
                </div>
            </a>
        </li>
    ))}
</ul>