---
import './SectionContainer.scss';
import SectionHeading from './SectionHeading.astro';

interface SectionContainerProps {
    sectionNumber?: number;
    sectionTitle?: string;
    contentWidth?: boolean;
    className?: string;
    noTopMargin?: boolean;
}

const {
    sectionNumber = 1,
    sectionTitle = "Section",
    contentWidth = true,
    className = "",
    noTopMargin = false,
}: SectionContainerProps = Astro.props;
---

<section class={`section-generic ${className} ${noTopMargin ? 'no-top-margin' : ''}`}>
    <div class={ contentWidth === true ? 'struct' : 'struct-width' }>
        <SectionHeading headingType="h2" sectionNumber={sectionNumber} sectionTitle={sectionTitle} />
        <slot />
    </div>
</section>

