---
import './SectionHero.scss';
import './BtnCallToAction.astro';
import BtnCallToAction from './BtnCallToAction.astro';

const peekSize = 130;
const peekTiles = Array.from({ length: peekSize });

const randOpacity = (min: number, max: number) => {
    return (Math.random() * (max-min) + min).toFixed(2);
};
---

<section class="hero" id="hero">
    <div class="struct">
        <div class="contents">
            <span class="counter">01 &gt;</span>
            <h1>Hello, <span class="split-line">I'm <span class="prog-tag">&#123;</span><span class="highlight">Aldreich</span><span class="prog-tag">&#125;</span>.</span></h1>
            <p>I'm a web experience creator, also known as <span class="highlight">@the13thgeek</span>!</p>
            <div class="call-to-action">
                <BtnCallToAction text="About Me" href="/about" type="primary" icon="caret-right" />
                <BtnCallToAction text="Connect" href="#connect" type="secondary" icon="caret-right" />
            </div>
        </div>
        <div class="photo">
            {peekTiles.map(() => (
                <div class="tile" style={`opacity: ${randOpacity(0.7, 0.95)}`}></div>
            ))}
        </div>
    </div>
</section>

<script>
    const tiles = document.querySelectorAll('.tile');

    tiles.forEach(tile => {
        tile.addEventListener('mouseenter', () => {
            if(tile.classList.contains('effector')) return;
            tile.classList.add('effector');
            setTimeout(() => {
                tile.classList.remove('effector');
            }, 3000);
        });
    });
</script>