---
import './SectionHomeAbout.scss';
---

<section id="home-about" class="home-about">
    <div class="struct">
        <div class="row title-bar">
            <div class="col">
                <div class="descriptor home-2-profile">
                    <span class="title">Profile</span>
                </div>
                <h2>Nice to meet you.</h2>
            </div>
            <div class="col">
                <div class="call-to-action">
                    <a href="/about" class="cta-link">See more <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row introduction">
            <div class="col spacer">
                <img src='/assets/home/avatar-geek-hi.png' alt="Avatar waving hi" />
            </div>
            <div class="col type-1">
                <div class="wrapper">
                    <h3 class='type-1'>Aldreich</h3>
                    <p class="ipa">[ˈɔːldrɪtʃ]</p>
                    <p class="type">noun</p>
                    <ol class="definitions">
                        <li>a versatile developer who expertly blends design and coding to create cohesive, user-friendly digital experiences</li>
                        <li>an enthusiast of gaming and web design, known for a passion that spans from retro games to modern web technologies</li>
                        <li>the alter-ego behind the social media handle <b>@the13thgeek</b></li>
                    </ol>
                </div>
            </div>
            <hr />
            <div class="col type-2">
                <div class="wrapper">
                    <h3 class='type-2'>the13thgeek</h3>
                    <p class="ipa">[ðə ˈθɜːrˌtiːnθ ɡiːk]</p>
                    <p class="type">noun</p>
                    <ol class="definitions">
                        <li>a variety streamer known for quirky humour and spontaneous bursts of helium-infused voice</li>
                        <li>a voice in the Twitterverse posting everything from the latest <i>tokusatsu</i> releases to the latest tech musings and animated GIF memes</li>
                        <li>a visual storyteller whose grid offers a blend of travels, cosplays and sneak peeks from his daily life</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>