---
import './SectionHero2.scss';

---

<section class="hero-grid">
    <div class="struct">
        <div class="hero-card">
            <div class="main-card">
                <h1>Hello, <span class="split-line">I'm <span class="prog-tag">&#123;</span><span class="highlight">#Name</span><span class="prog-tag">&#125;</span>.</span></h1>
                <p>I'm a web experience creator, also known as <span class="highlight">@the13thgeek</span>!</p>
            </div>
            <div class="definitions">
                <div class="type-a">
                    <h3>#Name</h3>
                    <p class="ipa">[ˈɔːldrɪtʃ]</p>
                    <p class="type">noun</p>
                    <ol>
                        <li>a versatile developer who expertly blends design and coding to create cohesive, user-friendly digital experiences</li>
                        <li>an enthusiast of gaming and web design, known for a passion that spans from retro games to modern web technologies</li>
                        <li>the alter-ego behind the social media handle <b>@the13thgeek</b></li>
                    </ol>
                </div>
                <div class="type-b">
                    <h3>the13thgeek</h3>
                    <p class="ipa">[ðə ˈθɜːrˌtiːnθ ɡiːk]</p>
                    <p class="type">noun</p>
                    <ol>
                        <li>a variety streamer known for quirky humour and spontaneous bursts of helium-infused voice</li>
                        <li>a voice in the Twitterverse posting everything from the latest <i>tokusatsu</i> releases to the latest tech musings and animated GIF memes</li>
                        <li>a visual storyteller whose grid offers a blend of travels, cosplays and sneak peeks from his daily life</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="hero-connect">
            <svg class="icon">
                <use xlink:href="/assets/global/common.svg?id=123#connect"></use>
            </svg>
        </div>
        <div class="hero-visual">E</div>
    </div>
</section>