@use '../styles/variables'  as *;
@use '../styles/mixins' as *;

.hero-grid {
    .struct {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;

        @include respond(md) {
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 200px auto;
        }
    }
    .hero-card {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 1rem;

        @include respond(md) {
            grid-row: 1 / span 2;
        }

        .main-card {
            background-color: #1a1a1a;
            color: #fff;
            padding: 20px;
            border-radius: $border-sm;
            display: flex;
            align-items: center;

            @include respond(md) {
                border-radius: $border-md;
                min-height: 40vh;
            }
            @include respond(lg) {
                border-radius: $border-lg;
            }
        }

        .definitions {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0;

            @include respond(lg) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .type-a,
        .type-b {
            background-color: $swatch-2;
            color: #333;
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: $border-sm;

            @include respond(md) {
                border-radius: $border-md;
                padding: 30px;
            }
            @include respond(lg) {
                border-radius: $border-lg;
                padding: 40px;
            }
        }
        .type-a {
            border-bottom: #999 2px dotted;
            @include respond(lg) {
                border-bottom: none;
                border-right: #999 2px dotted;
            }
        }

        /* 
        .main-card {
            grid-column: 1;
            grid-row: 1;
            background-color: #1a1a1a;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            padding: 2rem;
            border-radius: $border-sm;

            @include respond(md) {
                grid-column: 1 / span 2;
                grid-template-columns: 1fr 1fr;
                border-radius: $border-md;
            }
            @include respond(lg) {
                border-radius: $border-lg;
            }

        }

        .definitions-a {
            grid-row: 2;
            grid-column: 1;
            display: flex;
            align-items: center;
            padding: 2rem;
            color: #212121;
            background-color: $swatch-2;

            @include respond(md) {
                border-bottom: #ccc 1px dotted;
            }

            @include respond(lg) {
                grid-row: 2;
                grid-column: 1;
                border-bottom-left-radius: $border-lg;
                border-right: #ccc 1px dotted;
            }
        }
        .definitions-b {
            grid-row: 3;
            grid-column: 1;
            display: flex;
            align-items: center;
            padding: 2rem;
            color: #212121;
            background-color: #ddd;
            border-bottom-left-radius: $border-sm;
            border-bottom-right-radius: $border-sm;

            @include respond(md) {
                border-bottom-left-radius: $border-md;
                border-bottom-right-radius: $border-md;
                border-top: #ccc 1px dotted;
            }

            @include respond(lg) {
                grid-row: 2;
                grid-column: 2;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: $border-lg;
                border-left: #ccc 1px dotted;
            }
        }

        */ 
    }

    .hero-connect {
        grid-row: 2;
        grid-column: 1;
        background-color: #eee;
        color: #000;

        @include respond(md) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    .hero-visual {
        background-color: #bbb;
        display: none;

        @include respond(md) {
            display: block;
            grid-row: 2;
            grid-column: 2;
            min-height: 10vh;
        }
    }
}