@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.blog-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    a.field-note-card {
        h3 {
            color: var(--deep);
        }
        ul.category-list li, p {
            color: #333;
        }
    }

    @include respond(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond(xl) {
        grid-template-columns: 3fr 2fr 2fr;
    }

}