---
import './SectionHomeBlog.scss';
import { getLatestFieldNotes, formatDate } from '../lib/fieldNotes';
import FieldNoteCard from './FieldNoteCard.astro';

interface Props {
    count?: number;
    showExcerpt?: boolean;
    showTags?: boolean;
}

const {
    count = 3,
    showExcerpt = true,
    showTags = true
} = Astro.props;

const latestNotes = await getLatestFieldNotes(count);
---
<div class="blog-list">
    {latestNotes.map(note => (
        <FieldNoteCard note={note} />
    ))}
</div>