@use '../styles/variables'  as *;
@use '../styles/mixins' as *;

.hero-grid {
    .struct {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;

        @include respond(md) {
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 200px auto;
        }
    }
    .hero-card {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 1rem;

        @include respond(md) {
            grid-row: 1 / span 2;
        }

        .main-card {
            background-color: #1a1a1a;
            color: #fff;
            padding: 20px;
            border-radius: $border-radius-sm;
            display: flex;
            align-items: center;

            @include respond(md) {
                border-radius: $border-radius-md;
                min-height: 40vh;
            }
            @include respond(lg) {
                border-radius: $border-radius-lg;
            }
        }

        .definitions {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0;

            @include respond(lg) {
                grid-template-columns: 1fr 1fr;
            }
        }

        .type-a,
        .type-b {
            background-color: $swatch-2;
            color: #333;
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: $border-radius-sm;

            @include respond(md) {
                border-radius: $border-radius-md;
                padding: 30px;
            }
            @include respond(lg) {
                border-radius: $border-radius-lg;
                padding: 40px;
            }
        }
        .type-a {
            border-bottom: #666 1px dotted;
            @include respond(lg) {
                border-bottom: none;
                border-right: #666 1px dotted;
            }
        }
    }

    .hero-connect {
        grid-row: 2;
        grid-column: 1;
        background-color: #000;
        color: #000;
        @include tile(true);

        @include respond(md) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    .hero-visual {
        background-color: $swatch-3;
        display: none;
        @include tile();

        @include respond(md) {
            display: block;
            grid-row: 2;
            grid-column: 2;
            min-height: 10vh;
        }
    }
}